.header {
    background: url('../images/header-mobile.jpg') no-repeat bottom center;
    background-size: cover;


}


@media (min-width: $mobile) {
    .header {
        background-image: url('../images/header.jpg');
    }
}