.header {
    background: url('../images/header-mobile.jpg') no-repeat bottom center;
    background-size: cover;
    background-color: #000; 
}


@media (min-width: $mobile) {
    .header {
        background-image: url('../images/header.jpg');
    }
}